<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
<div class="login-box">
  <h1>Login</h1>
  <form class="" action="/login" method="POST">
  <div class="textbox">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Username"  name="username">
  </div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Password" name="password">
  </div>
  <input type="submit" class="btn" value="Sign in">
  </form>
  <div class="textbox">
  <form action="/login/fb" method="GET">
  <i class="fab fa-facebook-square"></i>
  <input type="submit" class="btn" value="Sign in with FB" id="fblogin"></form>
</div>
<div class="textbox">
  <form action="/login/git" method="GET">
  <i class="fab fa-github"></i>
  <input type="submit" class="btn" value="Sign in with Git" id="gitlogin"></form>
</div>

</div>
  </body>
</html>
